<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="com.compuware.jenkins.scm.EndevorConfiguration" plugin="compuware-scm-downloader@1.4">
    <m__hostPort>CW11:16196</m__hostPort>
    <m__filterPattern>X2.V5R1B0.BASE.ASM.P.*</m__filterPattern>
    <m__fileExtension>cbl</m__fileExtension>
    <m__credentialsId>0f6dbaa8-2cac-4968-a67b-fc97819ec413</m__credentialsId>
    <m__codePage>1047</m__codePage>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>